<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div class="container">
    <h2>List Post</h2>
    <a href="/add">Create New Post</a>
    <div th:if="${mess}" class="alert alert-success">
        <strong th:text="${mess}">}</strong>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Short Content</td>
            <td>Image</td>
            <td colspan="2">Action</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="post : ${list}">
            <td th:text="${post.getId()}"></td>
            <td th:text="${post.getTitle()}"></td>
            <td th:text="${post.getShortContent()}"></td>
            <td><img th:src="${post.getImage()}" alt="" style="width: 100px"></td>
            <td><a th:href="@{/edit/{id}(id=${post.getId()})}">EDIT</a></td>
            <td><a th:href="@{/delete/{id}(id=${post.getId()})}" onclick="return confirm('Are you sure')">DELETE</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>